git
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.*.swp
.DS_Store
._*
npm-debug.log
.npmrc
node_modules
config.gypi
*.orig
__*
_*
.vscode
*.config
*.txt
*.pdf
.*
.mp4
.jpg
*.csv
*.xlsx
*.gz
*.aux
*.log
*.bak
*.dvi
*.db
*.pdf